name: Djot Implementations
run-name: Djot Implementations
on:
  schedule:
    - cron: "13 * 1 * *"

jobs:
  implementations:
    name: Djot Implementations
    runs-on: ubuntu-latest
    steps:
      - name: Install JavaScript
        uses: actions/setup-node@v4
        with:
          node-version: '22.x'

      - name: Download djot-implementations
        run: git clone https://github.com/dcampbell24/djot-implementations.git

      - name: Install Lua and LuaRocks
        run: |
          djot-implementations/install-lua-debian.sh

      - name: Install Djots, Hyperfine and Pandoc
        run: |
          djot-implementations/install-djots-debian.sh

      - name: Download Files, Run Pandoc, Run Benchmarks, Save Markdown File
        run: |
          djot-implementations/benchmarks.sh

      - name: cat Markdown File
        run: |
          cat benchmarks.md
