name: Run Benchmarks

on:
  schedule:
    - cron: "13 0 1 * *"

jobs:
  benchmarks:
    permissions:
      security-events: write
      # required for workflows in private repositories
      # contents: read
      actions: read

    name: Run Benchmarks
    runs-on: ubuntu-latest
    steps:
      - name: Download djot-implementations
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # pin@v4
        with:
          persist-credentials: false

      - name: Install Lua and LuaRocks
        run: |
          $GITHUB_WORKSPACE/sh/install-lua-debian.sh

      - name: Install Djots and Hyperfine
        run: |
          $GITHUB_WORKSPACE/sh/install-djots.sh

      - name: Run Benchmarks, Save Markdown File
        run: |
          cd "$GITHUB_WORKSPACE"
          sh/benchmarks.sh

      - name: cat Markdown File
        run: |
          cat  $GITHUB_WORKSPACE/tmp/benchmarks.md
